.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: whitesmoke;
  margin: 1rem;
}

.card__image {
  flex:1;
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
  }
}

.card__text {
  margin-top: 2rem;
}

.card__btn {
  margin-top: 2rem;
  cursor: pointer;
}
