.home {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

    > * {
      width: 33.33%;
      min-width: 30rem;
    }
}
